<ion-header>
  <ion-navbar>
    <ion-title>
      Meus Estágios
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item *ngFor="let item of items | async">        
      <h2>{{item?.payload.val().internshipVacancy}}</h2>
      <p *ngIf="item?.payload.val().nameOfCompany == true">{{item?.payload.val().stringNameOfCompany}}</p>
      <h4>Periodo:</h4>
      <p *ngIf="item?.payload.val().periodMorning == true">
          Manhã     
      </p>
      <p *ngIf="item?.payload.val().periodAfternoon == true">
          Tarde    
      </p>
      <p *ngIf="item?.payload.val().periodNight == true">
          Noite    
      </p>
      <button (click)="view(item?.key)" ion-button clear item-right>View</button>
    </ion-item>
  </ion-list>
</ion-content>
